.products {
  position: relative;
  text-align: center;
  padding: 60px 20px;
  background-color: #84BFFF;
 
}

.products h2 {
  font-size: 2.6rem;
  font-weight: bold;
  color: #000;
  
}

.products .blue {
  color: #0563A9;
}

.subtitle {
  margin: 10px auto 40px;
 max-width:500px;
  font-size: 1.1rem;
  color: #000;
}


.products-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  align-items: stretch; 
}

.card {
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  padding: 20px;
  border-radius: 35px;
  width: 350px;
  margin: 30px;
  color: #000;
  font-size: 1.2rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.10);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}


.card p{
   margin-bottom: 20px;
  flex-grow: 1; 

  align-items: center;
  justify-content: center;
}

.card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
  object-fit: contain;
  max-height: 220px; 
}


.btn1 {
  background: #0563A9;
  color: #fff;
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer; 
  transition: all 0.3s ease;
}

.btn:hover {
 transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 123, 255, 0.4);
}


.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease-out;
}

.fade-up.visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-img {
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.5s ease-out;
}

.fade-img:hover{
  scale: 1.2;
}

.fade-up.visible .fade-img {
  opacity: 1;
  transform: scale(1);
}


.custom-shape-divider-bottom-1760096562 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1760096562 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1760096562 .shape-fill {
    fill: #FFFFFF;
}